<section id="IntroCard">
  <div class="container-fluid">
    <div class="row text-center">

      <div class="col-8 offset-2 title-text">
        <h2>Build a landing page for your business or project and generate more leads! </h2>
      </div>

    </div>

    <div class="row text-center">
      <div class="col-12 col-sm-7 offset-sm-2">
        <form>
            <div class="form-group">
                <input type="email" class="form-control" id="YourName" placeholder="Email">

            </div>
        </form>
      </div>
      <div class="col-12 col-sm-1">
          <button class="btn btn-primary btn-block">Sign Up</button>
      </div>
    </div>

  </div>
</section>


<section id="Icons">
  <div class="container">
    <div class="row text-center">

      <div class="col-12 col-sm-4">
        <div class="icon-one">
          <span><i class="fas fa-desktop fa-4x"></i></span>
          <h3>Fully Responsive</h3>
          <p>This theme will look great on any device, no matter the size!</p>
        </div>
      </div>

      <div class="col-12 col-sm-4">
          <span><i class="fab fa-stack-overflow fa-4x"></i></span>
          <h3>Bootstrap 4 Ready</h3>
          <p>Featuring the latest build of the new Bootstrap 4 framework!</p>
      </div>

      <div class="col-12 col-sm-4">
          <span><i class="far fa-check-circle fa-4x"></i></span>
          <h3>Easy To Use</h3>
          <p>Ready to use with your own content, or customize the source files!</p>
      </div>

    </div>
  </div>
</section>

<main>
  <section id="MainContent">
    <div class="row">
      <div class="col-12 order-lg-1 col-lg-6 text">
        <h3>Fully Responsive Design</h3>
        <p>
          When you use a theme created by Start Bootstrap, you know that the theme will look great
          on any device, whether it's a phone, tablet, or desktop the page will behave responsively!
        </p>
      </div>

      <div class="col-12 order-lg-2 col-lg-6 squares image-one" id="One"></div>

    </div>

    <div class="row">

      <div class="col-12 order-2 col-lg-6 order-lg-1 squares image-two" id="Two">

      </div>

      <div class="col-12 order-1 order-lg-2 col-lg-6 text">
        <h3>Updated For Bootstrap 4</h3>
        <p>
            Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in
            mobile responsive web development! All of the themes on Start Bootstrap are now using
            Bootstrap 4!
        </p>
      </div>

    </div>

    <div class="row">
      <div class="col-12 col-lg-6 text">
        <h3>Easy to Use And Customize</h3>
        <p>
            Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper
            customization options. Out of the box, just add your content and images, and your new
            landing page will be ready to go!
        </p>
      </div>
      <div class="col-12 col-lg-6 squares image-three" id="Three"></div>
    </div>

  </section>
</main>


<section id="Pictures">
    <div class="container text-center">
        <h3>What people are saying...</h3>
      <div class="row text-center">

        <div class="col-12 col-sm-4">
            <span><img src="./../../assets/img/testimonials-1.jpg"></span>
            <h5 class="title-text">Margaret E.</h5>
            <p>"This is fantastic! Thanks so much guys!"</p>
        </div>

        <div class="col-12 col-sm-4">
            <span><img src="./../../assets/img/testimonials-2.jpg"></span>
            <h5>Margaret E.</h5>
            <p>"This is fantastic! Thanks so much guys!"</p>
        </div>

        <div class="col-12 col-sm-4">
            <span><img src="./../../assets/img/testimonials-3.jpg"></span>
            <h5>Margaret E.</h5>
            <p>"This is fantastic! Thanks so much guys!"</p>
        </div>

      </div>
    </div>
</section>

<section id="SignUp">
    <div class="container-fluid">
      <div class="row text-center">

        <div class="col-8 offset-2 title-text">
          <h2>Ready to get started? Sign up now!</h2>
        </div>

      </div>

      <div class="row text-center">
        <div class="col-12 col-sm-7 offset-sm-2">
          <form>
              <div class="form-group">
                  <input type="email" class="form-control" id="YourName" placeholder="Email">

              </div>
          </form>
        </div>
        <div class="col-12 col-sm-1">
            <button class="btn btn-primary btn-block">Sign Up</button>
        </div>
      </div>

    </div>
</section>
